/* font */

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamPro.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-size: normal;
}

/* font / */

body {
  margin: 0;
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* header  */

  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
    padding: 22px 0;

    background: #fff;

    transition: 0.2s linear;

    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
    
    z-index: 1000;
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .header__bottom-list {
   display: flex;
   justify-content: flex-end;
 }
  

 .header__bottom-item {
    margin-left: 80px;
 }

 .header__bottom-link {
  font-size: 13px;
  line-height: 12px;

  color: #000000;

  transition: 0.2s linear;
 }



 .header__bottom-link:hover {
  color: #C8BB93;
 }

 .hamburger {
  display: none;
}



.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}



.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 124px;
}

.nav-item:first-child {
  margin-left: 0;
}


.nav-link{
  font-size: 15px;
  line-height: 12px;
  color: #000000;

  transition: 0.2s linear;
}

.nav-link:hover{
    color: #C8BB93;
}

.nav__location {
  display: none;
}



@media only screen and (max-width: 960px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 61px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: none;
        text-align: center;
        transition: 0.5s ease;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
      font-size: 16px;
      line-height: 12px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 30px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__location {
      display: block;
    }
}

  

/* header //  */

/* hero */

.hero {
  height: 100vh;

  background: url("../img/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  padding-top: 360px;
  padding-left: 200px;
}

.hero__logo {
  position: relative;
  margin-bottom: 35px;
}

.hero__new {
  position: absolute;
  top: -30px;
  left: -54px;
  z-index: 1;
}

.hero__text {
  max-width: 408px;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.hero__buttons {
  display: flex;
  margin-top: 63px;
}

.hero__details {
  display: flex;
  align-items: center;
}

.hero__btn {
  margin-left: 100px;
  border: 1px solid #FFFFFF;
  border-radius: 100px; 
  padding: 15px 50px;

  color: #FFFFFF;

  transition: .2s linear;
}

.hero__btn:hover {
  color: #000;
  background: #fff;
}

.hero__details  {
  font-size: 15px;
  line-height: 21px;

  color: #FFFFFF;

  transition: 0.4s linear;
}

.hero__details:hover {
  transform: translateX(15px);
}

.hero__arrow {
  margin-left: 29px;

}

.hero__arrow--black {
  visibility: hidden;
  margin-left: 29px;
}

@media (max-width: 960px) {

.hero {
  padding-top: 200px;
  height: 1136px;

  background: url("../img/Image\ Plonq\ 500-960.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }

 .hero__inner {
   padding: 0;
 }

 .hero__logo {
   width: 200px;
 }

 .hero__content {
   display: flex;
   justify-content: center;
 }

 .hero__text {
  font-size: 25px;
  line-height: 32px;
  max-width: none;

  text-align: center;
 }

 .hero__buttons {
   justify-content: center;
   margin-top: 650px; 
  }

  .hero__details {
    color: #264F53;
  }

  .hero__btn  {
    margin-left: 50px;
    padding: 15px 30px;
    border: 1px solid #264F53;

    color: #264F53;
  }

  .hero__btn:hover {
    background: #000;

    color: #fff;
    
  } 

  .hero__arrow {
    display: none;
  }

  .hero__arrow--black{
    visibility: visible;
  }

}





/* hero //*/

.blonq {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 200px;
}

.blonqX__text {
  margin-top: 60px;
}

.blonq__buttons {
  margin-top: 70px;
  display: flex;
}

.blonqx__details {
  display: flex;
  align-items: center;

  color: #000000;

  transition: 0.4s linear;
}
.blonqx__details:hover {
  transform: translateX(15px);
}

.blonqx__arrow {
  margin-left: 15px;
}

.blonqX__text {
  font-size: 32px;
  line-height: 44px;
  max-width: 450px;
  

  color: #000000;
}

.blonq__button {
  border: none;
  margin-left: 100px;

  font-size: 15px;
  line-height: 21px;
  
  color: #C8BB93;
}

 
@media (max-width: 960px) {
    .blonq {
      flex-wrap: wrap;
      position: relative;
      
    }

   .blonqX__logo {
     display: flex;
     justify-content: center;
     margin-left: 100px;
   }

   .blonqX__text {
     display: flex;
     justify-content: center;
     margin-left: 100px;
     text-align: center;
   }

    .blonq__buttons {
      position: absolute;
      top: 90%;
      bottom: 0;
      
      

      display: flex;
      justify-content: center;
      align-items: center ;
      margin-left: 50px;
      
    }

    .blonqX__text {
      margin-bottom: 100px;
    }

   .product__card {
     width: 100%;
     
   }

  }



/* blonq // */

/* blonq-products */

.blonq-products {
  margin-top: 200px;
}

.blonq__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blonq__card {  
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  transition: 0.2s linear;

  
}

.blonq__card:hover {
  transform: translateY(15px);
}

.blonq__card-logo {
  margin-bottom: 55px;
}

.blonq__card-details {
  font-size: 15px;
  line-height: 21px;

  max-width: 203px;

  color: #000000;
}


.blonq__card-sell {
  font-size: 15px;
  line-height: 21px;

  margin-top: 85px;

  color: #C8BB93;
}

.blonq__card-price {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  margin-top: 18px;
  margin-bottom: 43px;

  color: #000000;
}

.blonq__btn {
  border: 1px solid #000000;
  border-radius: 100px; 
  padding: 15px 60px;

  font-weight: bold;

  font-size: 13px;
  line-height: 24px;

  color: #000000;

  transition: .2s linear;
}

.blonq__btn:hover {
    color: #fff;
    background: #000;
  
}


@media (max-width: 470px) {
  .blonq__card {
    justify-content: center;
    padding: 40px 0;
  }
}

/* blonq-products//  */

/* lcoat  */

.locat {
  margin-top: 300px;
}

.locat__inner{
  background: #F9F9F9;
  text-align: center;
  justify-content: center;
}

.locat__descr {
  padding-top: 36px;
  margin-bottom: 36px;

  font-size: 22px;
  line-height: 32px;
}

.locat__descr span {
  font-weight: bold;
}

.btn__locat {
  width: 208px;
  height: 48px;
  border-radius: 100px;

  font-size: 13px;
  line-height: 24px;
  font-weight: bold;

  border: 1px solid #000000;

  margin-bottom: 48px;

  transition: 0.2s linear;
}

.btn__locat:hover {
  color: #fff;
  background: #000;
}

/* lcoat  //*/

/* products */

.products {
  margin-top: 32px;
}

.product__inner {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.product__card {
  width: 670px;
  height: 465px;
  background: #F9F9F9;

  display: flex;
  align-items: center;

  transition: 0.2s linear;

  margin: 15px 0;
}

.product__card:hover {
  transform: translateY(15px);
}

.product__content {
  margin-left: 120px;
}

.product__title {
  font-size: 23px;
  line-height: 28px;

  margin-bottom: 28px;

  max-width: 197px;
}

.product__text {
  font-size: 15px;
  line-height: 21px;

  margin-bottom: 53px;

  max-width: 328px;
}

.product__img {
  align-self: flex-end;
  margin-left: 42px;
}

.product__btn {
    display: flex;
    align-items: center;
  
    color: #000000;
  
    transition: 0.4s linear;
  
}

.product__btn:hover {
  transform: translateX(15px);
}


.product__arrow {
  margin-left: 16px;
}


@media (max-width: 960px) {
  .product__inner {
    justify-content: center;
  }
}


@media (max-width: 700px) {
  .product__content {
    margin-left: 20px;
  }

  .product__card {
    padding: 0 15px;
  }
}

@media (max-width: 376px) {
  .product__img {
    width: 100px;
    margin-left: 20px;
  }

  .product__img-2 {
    margin-left: 20px;
  }
}

@media (max-width: 1352px)  {
  .product__inner {
  justify-content: center;
  }
}

/* products .. */

/* footer */

.footer {
  margin-top: 350px;
}





.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__sub {
  margin-bottom: 29px;
}

.form__email {
  width: 424px;
  height: 40px;

  background: #F9F9F9;

  border: none;
}

.footer__btn {
  width: 152px;
  height: 40px;

  font-size: 13px;
  line-height: 24px;

  margin-left: 24px;

  border: none;

  background: #000000;
  border-radius: 4px;

  color: #FFFFFF;

  transition: 0.2s linear;
}

.footer__btn:hover {
  color: #000;
  background: #C8BB93;
}

.russian__language {
  color: #C8BB93;
}

.english__language {
  color: #000000;
}

/* footer__middle */

.footer__middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin-top: 45px;
}






/* footer__left */

.footer__left-inner {
  margin-top: 40px;
}



.footer__icon-left {
  display: flex;
}


.footer__soon {
  
  
  color: #AAAAAA;
}

.footer__icon {
  margin-right: 17px;
}


/* footer__center */



.footer__center-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  
}



.footer__list {
  width: 25%;

}




.footer__item {
  margin-top: 17px;
}

.footer__link--active {
  font-size: 14px;
  line-height: 21px;

  color: #000000;

  transition: 0.2s linear;
}

.footer__link--active:hover {
  text-decoration: underline;
}

.footer__link {
  font-size: 13px;
  line-height: 21px;

  color: #AAAAAA;

  transition: 0.2 linear;
}

.footer__link:hover {
  color: #000;

  text-decoration: underline;
}


/* footer__right */

.footer__right-inner {
  position: relative;
}


.footer__right {
  margin-top: 20px;
}

.footer__right-icon {
  position: absolute;
  top: -45px;
  right: 0;   
}


.footer__right-adress {
  font-size: 13px;
  line-height: 21px;
  text-align: right;

  margin-top: 48px;

  color: #AAAAAA;
}


.footer__bottom {
  padding-bottom: 58px;
}

.footer__bottoom-text {
  margin-top: 87px;
  text-align: center;

  font-size: 13px;
  line-height: 21px;

  color: #AAAAAA;
}


@media (max-width: 666px) {
  .footer__logo {
    display: none;
  }

  .form__email {
    width: 137px;
  }

  .footer__list {
    width: 50%;
  }

  .footer__btn {
    width: 102px;
  }

  .footer__left {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
  }

  .footer__left-inner {
    margin-left: 30px;
  }
}

@media (max-width: 366px) {
  .footer__language {
    margin-top: 30px;
  }
}



/* footer // */

/* blonq500 */







/* blonq500 // */

/* plonq500-product */

.plonq500-product {
  margin-top: 250px;

  padding-top: 250px;

  
}

.plonq500__product-inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
}

.plonq500__product-title {
  font-size: 28px;
  line-height: 34px;

  text-transform: uppercase;

  margin-top: 300px;

  color: #000000;
}

.plonq500__product-item {
  display: flex;
  /* align-items: center; */
  
  
  margin-bottom: 80px;
}


.product-icon {
  margin-right: 79px;
}

.plonq500__product-item-title {
  font-size: 23px;
  line-height: 28px;

  color: #000000;
}

  

.plonq500__product-item-descr {
  font-size: 15px;
  line-height: 21px;

  margin-top: 23px;
  
  color: #000000;
}

/* plonq500-product// */

/* elegant */ 

.elegant {
  margin-top: 300px;
}


.elegant__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 80px;
}

.elegant__title span {
  font-size: 69px;
  line-height: 66px;

  margin-right: 32px;

}


.elegant__title {
  display: flex;
  align-items: center;

  font-size: 28px;
  line-height: 34px;

  

  text-transform: uppercase;

  color: #000000;
}


.elegant__descr {
  margin-right: 120px;

  font-size: 27px;
  line-height: 44px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}


/* problem */

.problem {
  margin-top: 250px;
}


.problem__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.problem__title {
  font-size: 40px;
  line-height: 45px;

  color: #000000;
}


.problem__text {
  max-width:  408px;

  font-size: 15px;
  line-height: 21px;
  
  margin-top: 38px;

  color: #000000;
}


.problem__text p {

  font-size: 15px;
  line-height: 21px;

  color: #000000;
}

.problem__img {
  margin: 50px 15px;
}


/* problem //*/

/* comparison */

.comparison {
  margin-top: 300px;
}


.comparison__title {
  margin-left: 60px;

  font-size: 40px;
  line-height: 45px;
}

.comparison__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 85px;
}

.comparison__descr {
  margin: 50px 0;
}


.comparison__item {
  display: flex;

  margin-top: 20px;
  
}

.comparison__icon {
  margin-right: 24px;
}


.comparison__btn {
  display: flex;
  justify-content: center;
  
  font-weight: bold;

  
  width: 240px;
  margin: 55px auto;
  border: 1px solid #000000;
  border-radius: 100px;

  padding: 20px 20px;


  color: #000000;

  transition: 0.2s linear;
}

.comparison__btn:hover {
  background: #000;

  color:  #fff;
}


/* comparison //*/

/* therapist */

.therapist-container {
  margin-top: 200px;
  padding: 150px 0;
  height: auto;
}


.therapist__content,therapist__img {
  width: 50%;
}

.therapist-container {
  background: #F9F9F9;
}

.therapist__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.therapist__content {
  width: 448px;
  padding: 0 15px;
}


.therapist__title {
  font-size: 40px;
  line-height: 45px;
}


.therapist__descr {
  margin-top: 38px;
}

/* therapist // */

/* update */

.update {
  margin-top: 250px;
}


.update__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.update__title {
  font-size: 40px;
  line-height: 45px;
  
}


.update__text {
  max-width: 416px;
  margin: 50px 0;
}
/* update // */

/* device */

.device {
  margin-top: 160px;
}

.device__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.device__title {
  font-size: 40px;
  line-height: 45px;
}

.device___text {
  max-width: 344px;

  margin-top: 28px;

  font-size: 15px;
  line-height: 21px;
}

.device__content {
  margin: 50px 0;
}


/* device //*/

/* capsule */

.capsule {
  margin-top: 250px;
}

.capsule__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.capsule__content {
  margin: 60px 0;
}

.capsule__title {
  font-size: 40px;
  line-height: 45px;
}


.capsule__text {
  font-size: 15px;
  line-height: 21px;

  max-width: 296px;

  margin-top: 28px;
}


/* capsule //*/


/* device-plonq500 */

.device-container {
  background: #F9F9F9;
  padding: 250px 0;

  margin-top: 200px;
}

.device-plonq500__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  padding: 0 15px;
}

.device-plonq500-title {
  font-size: 40px;
  line-height: 45px;

  margin-bottom: 28px;
}

.device-plonq500-text {
  font-size: 15px;
  line-height: 21px;

  max-width: 360px;
}


.device-plonq500-content {
  margin: 50px 0;
}

/* device-plonq500 //*/

/* compound */


.compound {
  margin-top: 200px;
}


.compound__title {
  font-size: 40px;
  line-height: 45px;

}

.compound__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.compound__item {
  margin: 40px 0;
  padding: 0 15px;

  transition: 0.2s linear;
}

.compound__item:hover {
  transform: translateY(-15px);
}

.compound__item-title {
  font-size: 23px;
  line-height: 28px;

  margin-bottom: 58px;

  color: #C8BB93;
}

.compound__text {
  max-width: 250px;
}

.compound__list {
  margin-top: 100px;
}


/* compound //*/

/* certificate */

.certificate {
  margin-top: 260px;
}

.certificate__title {
  display: flex;
  justify-content: space-evenly;

  padding: 0 15px;

  font-size: 40px;
  line-height: 45px;
}

.certificate-container {
  background: #F9F9F9;
  padding: 100px 0;
}

.certificate__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 65px;
}

.certificate__img{
  padding: 0 15px;

  margin: 40px 0;
}

/* certificate // */

/* contacts */

.contacts {
  margin-top: 240px;
}

.contacts__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact__form {
  padding: 20px 15px;
}


.contact__title {
  font-size: 23px;
  line-height: 28px;
}

.contact__text {
  max-width: 328px;
  margin-top: 34px;

  font-size: 15px;
  line-height: 21px;
}

.form_input {
  display: block;
  margin-top: 15px;

  padding: 15px 15px;
  font-family: 'Gotham Pro';
  font-size: 11px;
  line-height: 21px;

  border: none;

  background: #F9F9F9;
  border-radius: 4px;

}

.form_textarea{
  display: block;
}

.input_text {
  display: block;
  

}

label {
  font-family: 'Gotham Pro';
  font-size: 13px;
  line-height: 21px;

  color: #C4C4C4;
}

.form-group {
  margin-top: 20px;
}



.form_input {
  width: 328px;
  height: 40px;
}

.form_textarea {
  width: 328px;
  height: 104px;
  margin-top: 15px;
  background: #F9F9F9;
  border-radius: 4px;
  border: none;
  resize: none

}

::placeholder {

  font-size: 11px;
  line-height: 21px;

  color: #C4C4C4;
}


.contact__btn {
  width: 152px;
  height: 40px;
  cursor: pointer;
  padding: 10px 10px;
  margin-top: 40px;

  color: #fff;

  background: #000000;
  border-radius: 4px;
  border: 1px solid #000;

  transition: 0.2s linear;
}

.contact__btn:hover {
  color: #000;

  background: #fff;
} 
  /* contacts //*/